@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Roboto Slab", serif;
    --font-secundary: "Roboto Mono", serif;
}

#hamburguer {
    width: 1.5em;
    height: 1.5em;
    z-index: 1000;
    position: fixed;
    top: .5em;
    right: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .1s ease-in-out;
    padding: 1.5em;
    border-radius: 100%;
    background: transparent;
}
#hamburguer:hover {
    background: transparent;
    transform: scale(1.06);
}
#hamburguer:active {
    transform: scale(0.97);
}
#hamburguer:active {
    transform: scale(0.97);
} 
#hamburguer .line {
    width: 100%;
    height: .1em;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.7);
}
#hamburguer input {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    opacity: 0;
    cursor: pointer; 
}
#hamburguer input:checked ~ .line {
    display: none;
}
#hamburguer input:checked ~ #hamburguer-close {
    display: block;
}
#hamburguer-close {
    width: 25px;
    height: 25px;
    display: none;
}  
#hamburguer-close .close1 {
    height: 25px;
    width: .1em;
    margin-left: 12px;
    background: #000;
    transform: rotate(45deg);
    Z-index: 1;
}
#hamburguer-close .close1 .close2 {
    height: 25px;
    width: .1em;
    background: #000;
    transform: rotate(90deg);
    Z-index: 2;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(97deg, #0a192f, #2b3543, #0f765d);
    background-size: 600% 600%;
    -webkit-animation: bgAnimation 35s ease infinite;
    -moz-animation: bgAnimation 35s ease infinite;
    animation: bgAnimation 35s ease infinite;
}

@-webkit-keyframes bgAnimation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes bgAnimation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes bgAnimation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}

.banner{
    position: absolute;
    top: 30%;
    left: 7%
}

@keyframes  movBanner{
    0%{
        opacity: 0%;
        transform: translateY(10rem);
    }
    70%{
        transform: translateY(-.2rem);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

.banner h1{
    color: rgb(100, 255, 218);
    margin: 0rem 0rem 2rem .3rem;
    font-family: var(--font-secundary);
    font-weight: 400;
    text-shadow: .3rem .2rem 2px rgba(0, 0, 0, 4);
    line-height: 1rem;
    margin-bottom: 3rem;
    animation: movBanner 1.6s;
}

.banner h2{
    color: rgb(204, 214, 246);
    font-size: 3.0rem;
    font-family: var(--font-primary);
    font-weight: 600;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 4);
    margin-bottom: 1rem;
    animation: movBanner 1.8s 50ms;
}

.banner h3{
    color: rgb(136, 146, 176);
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: 500;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 6);
    opacity: .9;
    margin-bottom: 1rem;
    animation: movBanner 2s 100ms;
}

.banner p{
    color: rgb(136, 146, 176);
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    font-weight: 300;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 6);
    opacity: .9;
    margin-bottom: 2rem;
    animation: movBanner 2s 100ms;
}

.banner button{
    font-family: var(--font-primary);
    color: rgb(100, 255, 218);
    background-color: transparent;
    border: 1px solid rgb(100, 255, 218);
    border-radius: .3rem;
    padding: 1.25rem 1.75rem;
    font-family: var(--font-secundary);
    cursor: pointer;
    line-height: 1;
    font-size: 1.2rem;
    animation: movBanner 2s 150ms;
}

.banner button:hover{
    background-color: rgba(100, 255, 218, 0.07);
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu  .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .6rem;
}

.menu-link{
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #555;
    transition: color 0.6s;
}

.menu-link:hover{
    color: rgb(100, 255, 218);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: #555;
    height: 2.5rem;
    width: 2;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.6s;
}

.social-media i:hover{
    color: rgb(100, 255, 218);
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(7, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 3 / 6;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 2 / 5;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 3 / 6;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 12 / 15;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 13 / 16;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 12 / 15;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px rgb(100, 255, 218);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2rem;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text{
    margin-top: 1rem;
}

.conhecimentos-img-wrapper{
    grid-column: 6 / 11;
    grid-row: 2 / 6;
    width: 100%
}

.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}